@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Bold.ttf") format(ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src: url("fonts/Verdana-Bold.ttf") format(ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src: url("fonts/Verdana.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.container {
  width: 95%;
  border-radius: 0.5rem;
}

.wrapper-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 2rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  text-transform: uppercase;
}

.header__svg {
  width: 14rem;
  margin-bottom: 2.5rem;
  height: 8rem;
}

.header__text {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.header__text-bold {
  font-weight: 700;
}

.section__info,
.section__prepare,
.section__manual,
.section__terminal,
.section__benefit,
.section__unique,
.section__trade {
  margin-bottom: 4rem;
}

/*header ok*/

.info-tv {
  width: 100%;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.info__content {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  padding: 3rem;
  text-align: justify;
}

.info-text {
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  font-family: Verdana;
  font-weight: 400;
  padding-bottom: 2rem;
}

.section__button {
  text-transform: uppercase;
  background-color: #ed1b2f;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: Verdana;
  width: 21.8rem;
  padding: 2rem 1.5rem;
  border: none;
  border-radius: 0.7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*section-info ok*/

.prepare__title,
.manual__title {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 3.5rem;
}

.title-red {
  color: #ed1b2f;
}

.prepare-content {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.content__block {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: justify;
  gap: 1.5rem;
  padding: 1rem 2.5rem;
}

.block-star {
  width: 2.5rem;
}

.block-text {
  font-family: Verdana;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

/*section-prepare ok*/

.manual-text {
  font-family: Verdana;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin-bottom: 3.5rem;
}

.manual-card {
  margin-bottom: 2rem;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.card-mask {
  width: 100%;
  display: block;
}

.card-content {
  background-color: #fff;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.card-header {
  font-family: Verdana;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.card-text {
  font-family: Verdana;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.card-button {
  width: 20rem;
  background-color: #ed1b2f;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Verdana;
  padding: 2rem 1.5rem;
  border: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: #333;
  text-decoration: underline;
}

/*section-manual ok*/

.section__terminal {
  background-color: #fff;
  border-radius: 1rem;
}

.terminal__content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-menu {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Verdana;
  border: none;
  color: #fff;
}

.menu-item-1 {
  background-color: #7bae64;
  border-radius: 2rem;
  width: 50%;
  padding: 0.5rem 0.1rem;
}

.menu-item-2 {
  background-color: #ed1b2f;
  border-radius: 2rem;
  width: 50%;
  padding: 0.5rem 0.1rem;
}

.terminal-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana;
  color: #333;
  margin-bottom: 1.5rem;
}

.terminal-body-text {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Verdana;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.terminal-button {
  background-color: #ed1b2f;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Verdana;
  padding: 2rem 1.5rem;
  border: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
}

.price-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-self: center;
  margin-bottom: 2.5rem;
}

.new-price {
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana;
  color: #2c2c2c;
}

.old-price {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Verdana;
  color: #777;
  text-decoration: line-through;
}

.terminal-image {
  width: 30rem;
}

/*section-terminal ok*/

.section__benefit {
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
}

.benefit__header {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: Verdana;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 1rem;
}

.benefit__form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.benefit__text {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Verdana;
  color: #ed1b2f;
  border: #ed1b2f 2px dashed;
  border-radius: 1rem;
  width: 40rem;
  align-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  box-sizing: border-box;
}

.benefit__link {
  background-color: #ed1b2f;
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 20rem;
  color: #fff;
  border-radius: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: Verdana;
  text-align: center;
  text-transform: uppercase;
}

/*section-benefit ok*/

.section__unique {
  background: linear-gradient(90deg, #b9d4d7, #e2f9f4);
  border-radius: 1rem;
  padding: 3rem;
}

.unique__header {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: Verdana;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 2rem;
}

.copy-link {
  display: block;
  position: relative;
  margin: auto;
}

.copy {
  width: 5rem;
  position: absolute;
  top: calc(50% - 4rem);
  right: 0.5rem;
}

.unique__input {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  border: dashed 0.1rem #2a2c2c;
  border-radius: 1.5rem;
  height: 4rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  color: #2c2c2c;
}

.unique__input::placeholder {
  color: #2c2c2c;
}

.unique__link {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Verdana;
  color: #2c2c2c;
  text-decoration: underline;
  text-align: center;
  display: block;
  margin: 0 auto;
}

/*section-unique ok*/

.section__trade {
  background-image: url("/images/Rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  min-height: 21rem;
  display: flex;
  justify-content: flex-start;
}

.trade__content {
  max-width: 50rem;
  padding: 3rem;
  margin-left: 1.5rem;
  box-sizing: border-box;
}

.trade__text {
  font-family: Verdana;
  color: #fff;
  margin-bottom: 3rem;
}

.trade__header {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}

.trade__info {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

.trade__start {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Verdana;
  background-color: #ed1b2f;
  color: #fff;
  border-radius: 1rem;
  align-self: center;
  padding: 1.5rem 3rem;
  box-sizing: border-box;
  text-transform: uppercase;
}

/*section-trade ok*/

.footer__title {
  font-family: Verdana;
  color: #898989;
  font-weight: 400;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}

.footer__title::after {
  content: "";
  display: block;
  height: 0.1rem;
  background-color: #c4c4c4;
  margin-top: 2.5rem;
}

.footer__center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50rem;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.logo {
  width: 10rem;
}

.networks {
  display: flex;
  gap: 1rem;
}

.network {
  width: 2.6rem;
}

.contacts-info {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.copyright,
.address,
.phone,
.email {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: Verdana;
  color: #898989;
  line-height: 1.5;
}

.address {
  max-width: 60%;
}

.contacts {
  max-width: 40%;
}

.email {
  text-decoration: underline;
}

.footer__text {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Verdana;
  color: #b4b4b4;
  line-height: 1.5;
}

.text-link {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Verdana;
  color: #b4b4b4;
  text-decoration: underline;
}

@media (min-width: 761px) {
  .section__button {
    margin-left: 0;
  }

  .manual-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .card-header,
  .card-text {
    text-align: left;
  }

  .terminal__content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .menu-item-1,
  .menu-item-2,
  .content-body,
  .terminal-image {
    width: 50%;
  }

  .terminal-body-text {
    text-align: left;
  }

  .price-container {
    justify-self: left;
  }

  .terminal-button {
    width: 100%;
  }

  .price-container {
    justify-content: left;
  }

  .card-header,
  .card-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .copy-link {
    width: 45rem;
  }

  .trade__content {
    padding-left: 15rem;
  }

  .contacts-info {
    width: 100%;
  }

  .footer__center {
    max-width: 70rem;
  }
}
