@font-face {
  font-family: Montserrat, sans-serif;
  src: url("fonts/Montserrat-Bold.ttf") format(ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url("fonts/Montserrat-Medium.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src: url("fonts/Verdana-Bold.ttf") format(ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src: url("fonts/Verdana.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ddd;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section,
.prepare-content,
.benefit__text,
.benefit__link,
.trade__start {
  border-radius: 12px;
}

.container {
  border-radius: 12px;
}

.wrapper-center {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  text-align: center;
  margin-bottom: 4rem;
  flex-direction: column;

  text-transform: uppercase;
}

.header__svg {
  width: 14rem;
  margin-bottom: 2.5rem;
}

.header__text {
  color: #000;
  display: flex;
  line-height: 1.6;
  font-size: 1.8rem;
  font-family: Montserrat;
  flex-direction: column;
}

.header__text-bold {
  font-weight: 700;
}

.section__info,
.section__prepare,
.section__manual,
.section__terminal,
.section__benefit,
.section__unique,
.section__trade {
  margin-bottom: 4rem;
}

.info-tv {
  width: 100%;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.info__content {
  padding: 3rem;
  text-align: justify;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.info-text {
  color: #333;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: Verdana;
  padding-bottom: 2rem;
}

.info-link {
  color: #fff;
  background-color: #ed1b2f;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: Verdana;
  width: 16rem;
  padding: 1rem 0.5rem;
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

.prepare__title,
.manual__title {
  color: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.title-red {
  color: #ed1b2f;
}

.prepare-content {
  background-color: #fff;
  padding: 1rem;
}

.content__block {
  gap: 1.5rem;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: justify;
}

.block-star {
  width: 2rem;
}

.block-text {
  color: #333;
  font-family: Verdana;
  font-size: 1.4rem;
  line-height: 1.5;
}

.manual-text {
  color: #333;
  text-align: center;
  font-family: Verdana;
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.manual-card {
  margin-left: auto;
  margin-right: auto;
}

.card-mask {
  width: 100%;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.content-text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-header {
  text-align: center;
  font-family: Verdana;
  font-size: 1.6rem;
  font-weight: 700;
  padding-top: 1rem;
}

.card-text {
  color: #333;
  text-align: center;
  font-family: Verdana;
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

.card-link,
.card-link-1 {
  background-color: #ed1b2f;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: Verdana;
  padding: 1.5rem 0.5rem;
  border-radius: 7px;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}

.card-link-1 {
  width: 12rem;
  margin-top: 70px;
}

.link {
  color: #333;
  text-decoration: underline;
}

.section__terminal {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3rem 2rem;
}

.menu {
  color: #fff;
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
  font-family: Verdana;
  border: none;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.menu-item-1 {
  background-color: #7bae64;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  width: 50%;
  padding: 0.2rem 1rem;
}

.menu-item-2 {
  background-color: #ed1b2f;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  padding: 0.2em 1rem;
  width: 50%;
}

.terminal-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Verdana;
  margin-bottom: 1.5rem;
}

.terminal-body-text {
  color: #333;
  font-size: 1.2rem;
  font-family: Verdana;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.terminal-link {
  background-color: #ed1b2f;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Verdana;
  width: 14rem;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
}

.price-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: center;
  margin-bottom: 2.5rem;
}

.new-price {
  color: #2c2c2c;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Verdana;
}

.old-price {
  color: #777;
  font-size: 1.1rem;
  font-family: Verdana;
  text-decoration: line-through;
}

.terminal-image {
  width: 100%;
  height: 270px;
  object-fit: contain;
}

.section__benefit {
  background-color: #fff;
  padding: 3rem;
}

.benefit__header {
  color: #2c2c2c;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: Verdana;
  text-align: center;
  margin-bottom: 1rem;
}

.benefit__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.benefit__text {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Verdana;
  color: #ed1b2f;
  border: #ed1b2f 1px dashed;
  width: 40rem;
  align-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

.benefit__link {
  background-color: #ed1b2f;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 50%;
  right: 0.5%;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Verdana;
  text-align: center;
  text-transform: uppercase;
}

.section__unique {
  background: linear-gradient(90deg, #b9d4d7, #e2f9f4);
}

.unique__header {
  color: #2c2c2c;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Verdana;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.copy-link {
  display: block;
  position: relative;
  margin: auto;
  max-width: 420px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.copy {
  width: 5rem;
  position: absolute;
  top: calc(50% - 40px);
  right: 0.5rem;
}

.unique__input {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  border: dashed 0.1rem #2a2c2c;
  border-radius: 1.5rem;
  height: 4rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  color: #2c2c2c;
}

.unique__input::placeholder {
  color: #2c2c2c;
}

.unique__link {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-family: Verdana;
  text-decoration: underline;
  text-align: center;
  display: block;
  padding-bottom: 2rem;
}

.section__trade {
  background-image: url("./images/Rectangle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
}

.trade__content {
  max-width: 50rem;
  padding: 3rem;
  box-sizing: border-box;
}

.trade__text {
  color: #fff;
  font-family: Verdana;
  margin-bottom: 3rem;
}

.trade__header {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.trade__info {
  font-size: 1.6rem;
  line-height: 1.5;
}

.trade__start {
  background-color: #ed1b2f;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Verdana;
  align-self: center;
  padding: 1.5rem 3rem;
  box-sizing: border-box;
  text-transform: uppercase;
}

.footer__title {
  color: #898989;
  font-family: Verdana;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.footer__title::after {
  content: "";
  background-color: #c4c4c4;
  display: block;
  height: 0.1rem;
  margin-top: 2.5rem;
}

.footer__center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50rem;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.logo {
  width: 10rem;
}

.networks {
  display: flex;
  gap: 10px;
}

.network {
  width: 2.6rem;
}

.contacts-info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.copyright,
.address,
.phone,
.email {
  color: #898989;
  font-size: 1.3rem;
  font-family: Verdana;
  line-height: 1.5;
}

.address {
  max-width: 60%;
}

.contacts {
  max-width: 40%;
}

.email,
.text-link {
  text-decoration: underline;
}

.footer__text {
  color: #b4b4b4;
  font-size: 1.3rem;
  font-family: Verdana;
  line-height: 1.5;
}

.text-link {
  font-size: 1.3rem;
  font-family: Verdana;
  color: #b4b4b4;
}

/* @media (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .info-link {
    margin-left: 0;
  }

  .manual-cards {
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .card-header,
  .card-text {
    text-align: left;
  }

  .section__terminal {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .content-body,
  .terminal-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .terminal-body-text,
  .terminal-title {
    text-align: left;
  }

  .info-link,
  .price-container {
    justify-self: left;
  }

  .card-header,
  .card-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .copy-link {
    width: 450px;
  }

  .benefit__text {
    padding-left: 50px;
  }

  .benefit__link {
    width: 200px;
    font-size: 14px;
  }

  .trade__content {
    padding-left: 50px;
  }

  .footer__center {
    max-width: 700px;
  }
} */

@media (min-width: 769px) and (max-width: 1280px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 16px;
  }

  .info-link {
    margin-left: 0;
  }

  .manual-cards {
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .manual-card {
    width: 50%;
  }

  .card-header,
  .card-text {
    text-align: left;
  }

  .section__terminal {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .content-body,
  .terminal-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .terminal-body-text,
  .terminal-title {
    text-align: left;
  }

  .info-link,
  .price-container {
    justify-self: left;
  }

  .card-header,
  .card-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .copy-link {
    width: 450px;
  }

  .benefit__text {
    padding-left: 50px;
  }

  .benefit__link {
    width: 200px;
    font-size: 14px;
  }

  .trade__content {
    padding-left: 50px;
  }

  .footer__center {
    max-width: 700px;
  }
}
