@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Bold.ttf") format(ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src: url("fonts/Verdana-Bold.ttf") format(ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src: url("fonts/Verdana.ttf") format(ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #ddd;
}

.container {
  position: relative;
  z-index: 10000;
}

.wrapper-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  text-transform: uppercase;
}

.header__svg {
  width: 139px;
  margin-bottom: 25px;
}

.header__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  width: 498px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header__text-bold {
  font-weight: 700;
}

.section__info {
  margin-bottom: 50px;
}

.section__content {
  background-color: #fff;
  padding: 30px;
}

.info-tv {
  width: 100%;
}

.info-text {
  font-size: 20px;
  line-height: 1.5;
  min-width: 440px;
  color: #333;
  font-family: Verdana;
  font-weight: 400;
  padding-bottom: 25px;
}

.section__prepare,
.section__manual {
  margin-bottom: 40px;
}

.section__button {
  text-transform: uppercase;
  background-color: #ed1b2f;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: Verdana;
  width: 218px;
  padding: 20px 15px;
  border: none;
  border-radius: 7px;
}

.prepare__title,
.manual__title {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 35px;
}

.title-red {
  color: #ed1b2f;
}

.section__prepare-content {
  background-color: #fff;
  padding-bottom: 35px;
}

.content__block {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
}

.block-star {
  width: 30px;
}

.block-text {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #2c2c2c;
}

.manual__content {
  padding-right: 20px;
  padding-left: 20px;
}

.manual-text {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin-bottom: 35px;
}

.manual-card {
  margin-bottom: 20px;
}

.card-mask {
  width: 100%;
  display: block;
}

.card-content {
  background-color: #fff;
  min-height: 310px;
  position: relative;
}

.card-header {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-text {
  font-family: Verdana;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 15px;
}

.card-button {
  width: 80%;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 15px;
  background-color: #ed1b2f;
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 700;
  font-family: Verdana;
  padding: 20px 15px;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;

  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}

.link {
  color: #333;
  text-decoration: underline;
}

.section__terminal {
  background-color: #fff;
  min-height: 300px;
  margin-bottom: 15px;
}

.terminal__content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  text-align: center;
}

.nav-menu {
  margin-bottom: 15px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  font-family: Verdana;
  text-align: center;
  border: none;
  color: #fff;
}

.menu-item-1 {
  background-color: #7bae64;
  border-radius: 20px;
  width: 50%;
  padding: 5px 1px;
}

.menu-item-2 {
  background-color: #ed1b2f;
  border-radius: 20px;
  width: 50%;
  padding: 5px 1px;
}

.terminal-title {
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana;
  color: #333;
  margin-bottom: 20px;
}

.terminal-body-text {
  font-size: 16px;
  font-weight: 700;
  font-family: Verdana;
  color: #333;
  margin-bottom: 20px;
}

.terminal-button {
  background-color: #ed1b2f;
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 700;
  font-family: Verdana;
  padding: 20px 15px;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  width: 50%;
}

.price-container {
  display: flex;
  gap: 20px;
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.new-price {
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana;
  color: #2c2c2c;
}

.old-price {
  font-size: 14px;
  font-weight: 400;
  font-family: Verdana;
  color: #777;
  text-decoration: line-through;
}

.terminal-image {
  width: 70%;
}

.section__benefit {
  background-color: #fff;
  min-height: 150px;
}

.benefit__header {
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana;
  color: #2c2c2c;
  text-align: center;
  padding-top: 20px;
  width: 415px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.benefit__text {
  font-size: 16px;
  font-weight: 700;
  font-family: Verdana;
  color: #ed1b2f;
  border: #ed1b2f 2px dashed;
  border-radius: 10px;
  padding: 20px 100px;
  width: 200px;
}

.benefit__link {
}

@media (min-width: 360px) AND (max-width: 500px) {
  .section__content {
    justify-items: center;
    text-align: center;
  }
}

@media (min-width: 760px) {
  .manual-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .card-header,
  .card-text,
  .terminal-title,
  .terminal-body-text {
    text-align: left;
  }

  .terminal__content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .content-body,
  .terminal-image {
    width: 50%;
  }

  .terminal-button {
    width: 100%;
  }

  .price-container {
    justify-content: left;
  }

  .card-header,
  .card-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
